  @import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
h1{
    color: red;
    background-color: black;
    font-size: 15px;
    font-family: 'BIZ UDPGothic', sans-serif;
}
